@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;500&family=Titillium+Web:wght@300;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #415a77;
  font-family: "Libre Franklin", sans-serif;
  color: #e0e1dd;
  height: 100%;
}
h1 {
  text-align: center;
  margin: 1rem;
}
.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  padding: 1rem;
  background-color: #0d1b2a;
  box-shadow: 2px 2px 2px #c8d3e2;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  width: 25rem;
  height: 30rem;
}
span {
  color: black;
}
#length {
  width: 2.5rem;
}
div .settings {
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.password {
  border-radius: 1rem;
  width: 80%;
  height: 2rem;
  background-color: #e0e1dd;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit-btn {
  display: flex;
  justify-content: center;
}
#btn {
  background-color: #778da9;
  border-color: #778da9;
  border-radius: 0.5rem;
  padding: .8rem;
  color: #e0e1dd;
  box-shadow: 2px 2px 2px #0d1b2a;
  width: 90%;
  font-size: 1.2rem;
}
p{
  text-align: center;
}
